<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>desktop</servlet-name>
		<jsp-file>/resources/js/configurations/desktop.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>desktop</servlet-name>
		<url-pattern>/resources/js/configurations/desktop.js</url-pattern>
	</servlet-mapping>
</web-app>
