<% if (ticketPrices.length > 0) { %>
    <form name="ticketCategories" id="ticketCategories">
    <h4>Select tickets by category</h4>
    <% _.each(ticketPrices, function(ticketPrice) { %>
      <div id="ticket-category-input-<%=ticketPrice.id%>"/>

      <fieldset class="ui-field-contain">
         <label for="ticket-<%=ticketPrice.id%>"><%=ticketPrice.ticketCategory.description%>($<%=ticketPrice.price%>)</label>
         <input id="ticket-<%=ticketPrice.id%>" data-tm-id="<%=ticketPrice.id%>" type="number" min="0" placeholder="Enter value"
               name="tickets"/>
         <span id="error-ticket-<%=ticketPrice.id%>" class="error" />
      </fieldset>
   <% }) %>
   </form>
<% } %>
