<div class="col-md-12">
  <h3 class="page-header light-font special-title">Bot</h3>
  <div id="bot-content">
    <div class="btn-group">
      <button id="start-bot" type="button" class="btn btn-danger" title="Start the bot">Start bot</button>
      <button id="stop-bot" type="button" class="btn btn-danger">Stop bot</button>
      <button id="reset" type="button" class="btn btn-danger" title="Delete all bookings (stops the bot first)">Delete all bookings</button>
    </div>
    <div class="bot-console">
      <div class="bot-label">Bot Log</div>
      <textarea style="width: 400px; height: 300px;" readonly=""></textarea>
    </div>
  </div>
</div>