<div class="col-md-12">
  <h3 class="page-header light-font special-title">Booking status</h3>
  <div id="status-content">
      <%
      _.each(collection.models, function (show) {
      %>
      <div class="show-status">
        <div class="show-status-header"><%=show.get('event')%> @ <%=show.get('venue')%></div>
        <%_.each(show.get('performances'), function (performance) {%>
        <div class="row">
          <div class="col-md-4"><%=new Date(performance.date).toLocaleString()%></div>
          <div class="col-md-4">
            <div class="progress">
              <div style="width: <%=(performance.occupiedCount)/(show.get('capacity'))*100%>%;" class="progress-bar progress-bar-success"></div>
            </div>
          </div>
          <div class="col-md-4"><%=performance.occupiedCount%> of <%=show.get('capacity')%> tickets booked</div>
        </div>
        <% }); %>
      </div>
      <% }); %>
  </div>
</div>