<div class="row">
    <h2 class="page-header light-font special-title">Booking #<%=booking.id%> details</h2>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="well">
            <h4 class="page-header">Checkout information</h4>

            <p><strong>Email: </strong><%= booking.contactEmail %></p>

            <p><strong>Event: </strong> <%= performance.event.name %></p>

            <p><strong>Venue: </strong><%= performance.venue.name %></p>

            <p><strong>Date: </strong><%= new Date(booking.performance.date).toPrettyString() %></p>

            <p><strong>Created on: </strong><%= new Date(booking.createdOn).toPrettyString() %></p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="well">
            <h4 class="page-header">Ticket allocations</h4>
            <table class="table table-striped table-bordered" style="background-color: #fffffa;">
                <thead>

                <tr>
                    <th>Ticket #</th>
                    <th>Category</th>
                    <th>Section</th>
                    <th>Row</th>
                    <th>Seat</th>
                </tr>
                </thead>
                <tbody>
            <% $.each(_.sortBy(booking.tickets, function(ticket) {return ticket.id}), function (i, ticket) { %>
                <tr>
                    <td><%= ticket.id %></td>
                    <td><%=ticket.ticketCategory.description%></td>
                    <td><%=ticket.seat.section.name%></td>
                    <td><%=ticket.seat.rowNumber%></td>
                    <td><%=ticket.seat.number%></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom:30px;">
    <div class="col-md-2"><a href="#bookings" class="highlight-link">Back</a></div>
</div>
